.track-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 500vh;
    width: 100vw;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.track {
    border: 1px solid black;
    background-color: rgba(155,15,15, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
}

.track-title {
    font-weight: bold;
}

.track-artists {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}