@import play.api.libs.json.JsValue
@(userInfo: String, title: String, playlists: JsValue, top100: List[(String, String)]) 

@main("Clubhot") {
  <html>
    <head>
        <!-- Include Bootstrap CSS file -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>@title</title>
    </head>
    <body>
        <!-- Add a container and a row, then add a section and button inside the row -->
      <div class="container">
        <div class="row">
          <section class="col-md-12 main-section">
            @userInfo
            @playlists

            @for(values <- top100) {
              <li>@values._1 @values._2</li>
            }
          </section>
          <button class="btn btn-primary col-md-12" id="playlist">Click me!</button>
        </div>
      </div>
    </body>
  </html>
}
