@import play.api.libs.json.JsValue
@import scala.collection.Seq
@import models.structures._
@(title: String, features: List[Seq[(String, JsValue)]], tracks: List[SpotifyTrackResult])

@main("Clubhot") {
  <html>
    <head>
        <!-- Include Bootstrap CSS file -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>@title</title>
    </head>
    <body>
        <!-- Add a container and a row, then add a section and button inside the row -->
      <div class="track-container">
            @for(((track, feature), index) <- tracks.zip(features).zipWithIndex) {
            <div class="track">
                <section class="track-info">
                    <div class="track-rank">@(index+1)</div>
                    <div class="track-title">@track.name</div>
                    <div class="track-artists">@track.artists.mkString(", ")</div>
                </section>
                  <br />
                <section class="track-features">
                    <ul>
                        @for(individual_feature <- feature) {
                        <li><span class="feature">@individual_feature._1</span>: <span class="feature-value">@individual_feature._2</span></li>
                        }
                    </ul>
                </section>

            </div>
            }
    </div>
    </body>
  </html>
}
